<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="/prijava" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input list="City-list" class="form-control" id="City" name="City" placeholder="Mesto"/>
                            <datalist id="City-list">
                            </datalist>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" onkeyup="email_keyup()" class="form-control" id="Email"
							   name="Email" placeholder="E-pošta"
							   style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select onclick="stranka_onclick()" size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option data-invoiceids="<%= JSON.stringify(stranka.InvoiceIds) %>" value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%=stranka.Country %> (<%=stranka.StRacunov %>) <%=JSON.stringify(stranka) %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	
    var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
	const cityL = document.getElementById("City-list");
	const postalC = document.getElementById("PostalCode");
	const city = document.getElementById("City");

    function email_test() {
        const email = document.getElementById("Email").value;
        return emailRegex.test(email);
    }

	function email_keyup() {
		const email = document.getElementById("Email").value;
		if(emailRegex.test(email)){
			document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok";
			document.getElementById("Register").disabled = false;

		}else {
			document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
			document.getElementById("Register").disabled = true;
		}
	}

	function stranka_onclick() {
        var e = document.getElementById("seznamStrank");
        var text = e.options[e.selectedIndex].dataset.invoiceids;
        var invoiceIds = JSON.parse(text);

	    var sr = document.getElementById("seznamRacunov");

        for(i=0; i<sr.options.length;i++){
            if(invoiceIds.includes(parseInt(sr.options[i].value))) $(sr.options[i]).css("font-weight", "bold");
            else $(sr.options[i]).css("font-weight", "normal");
        }

	}

	$(document).ready(function () {

		var kraji = [];

        $.getJSON('https://api.lavbic.net/kraji', function(data) {
			kraji = data;
            data.forEach(function (e) {
                var child = document.createElement("option");
                child.value = e.kraj;
                cityL.append(child);
            })
        });
        
        
		city.addEventListener("keyup", function () {
			var najdenoMesto = false;

			kraji.forEach(function (e) {

				if (e.kraj == city.value) {
					postalC.value = e.postnaStevilka;
					document.getElementById("Country").value = "Slovenija";
					najdenoMesto = true;
				}
			})

			if (email_test() && najdenoMesto) {
				document.getElementById("Register").disabled = false;
			}
			else {
				document.getElementById("Register").disabled = true;
			}

			if (this.value.length == 0 || !najdenoMesto) {
				postalC.value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}

		});
	});
</script>
</body>
</html>